* {
    font-family: Montserrat;
}

.rectanguloAzul {

    background-color: #2DAAA4;
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}


h1 {
    color: #2DAAA4;
    font-size: 45px;
    font-weight: bold;
}




/*Section*/
.section-flex-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

.section-flex-container-div {
    margin: 10px;
}

.section-flex-container ul {
    list-style: none;
    /* Quitar los puntos de lista */
    padding: 0;
    /* Eliminar el relleno predeterminado de la lista */
    display: flex;
    /* Mostrar los elementos de la lista en línea */
    align-items: center;
}

.section-flex-container li {
    margin-right: 10px;
    /* Añadir un espacio entre los elementos de la lista */
}

.section-flex-container p {
    font-size: 25px;
    color: #666666;
    text-align: justify;
}



/*INICIA FOOTER*/

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    font-size: 15px;
    color: #2DAAA4;
}

.flex-container-div {
    margin: 20px;
}

.flex-container a {
    text-decoration: none;
    color: inherit;
}

.flex-container ul {
    list-style: none;
    /* Quitar los puntos de lista */
    padding-left: 22px;
    /* Eliminar el relleno predeterminado de la lista */
    display: flex;
    /* Mostrar los elementos de la lista en línea */
    align-items: center;
}

.flex-container h3 {
    text-align: center;
}

.flex-container li {
    text-align: center;
    margin-right: 20px;
    /* Añadir un espacio entre los elementos de la lista */
}

.flex-container img.redeSociales {
    width: 25px;
    /* Establecer el ancho deseado para los iconos */
}

/*TERMINA FOOTER*/






.contenedor {
    display: flex;
    justify-content: center;
    align-items: center; /* Añade esta línea si quieres centrar verticalmente */
    /*height: 100vh;/* Esto asegurará que el contenedor ocupe el 100% del alto de la ventana */
    text-align: center;
}

.izquierda {
    flex: 1;
    /*background-color: #c0c0c0;*/
}

.derecha {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.fila {
    display: flex;
    align-items: center;
}

.columna {
    flex: 1;
    margin: 5px;
    padding: 10px;
    /*: 1px solid #000;
    background-color: #e0e0e0;*/
    
}

.columna a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    font-size: 15px;
    color: #2DAAA4;
}

.columna nav{
    border-top: 2px solid #2DAAA4;
}

.contenedor img.redeSociales {
    width: 25px;
}

/* Estilo para los elementos ul en la sección de "SÍGUENOS" */
.derecha ul {
    list-style: none; /* Quitar los puntos de la lista */
    padding: 0; /* Eliminar el relleno predeterminado de la lista */
    display: flex; /* Mostrar los elementos de la lista en línea */
    text-align: center;
    justify-content: center;
}

/* Estilo para los elementos li en la sección de "SÍGUENOS" */
.derecha li {
    margin-right: 10px; /* Añadir un espacio entre los elementos de la lista */
    text-align: center;
    padding-left: 20px;
}

.derecha h5{
    color: #2DAAA4;
}