html,
body,
figure {
    margin: 5px;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: "Montserrat";
}

.rectanguloInicio {
    background-color: #2DAAA4;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectanguloInicio h1 {
    font-weight: bold;
    font-size: 48px;
    color: #FFF;
    text-align: center;
}

.infoPaginaTitulo {
    background-color: #FFC55C;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoPaginaTitulo h1{
    font-weight: bold;
    font-size: 28px;
    color: #FFF;
    text-align: center;
}

.titulos {
    color: #2DAAA4;
}

.contenedorUserAuthen,
#userInfo {
    text-align: right;
}

/*.infoPagina {

}*/

.campo {
    font-weight: bold;
    margin-right: 24px;
}

.valor {
    font-weight: normal;
}


/* INICIO ESTILOS DE 'USUARIOS AUTENTICADO' */
.usuario-autenticado .usuario-row .campo {
    width: 76%; 
    text-align: right; 
    font-weight: bold;
    margin-right: 8px; 
}

.usuario-autenticado .usuario-row .valor {
    font-weight: normal;
    text-align: justify;
    margin-left: 8px;
}
/* FIN ESTILOS DE 'USUARIOS AUTENTICADO' */


/* INICIO ESTILOS DE 'USUARIOS REGISTRADOS' */
.usuario-row {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.usuario-row .campo {
    font-weight: bold;
    width: 150px; /* Establecer un ancho fijo para el campo */
    margin-right: 8px; /* Ajustar el margen derecho */
}

.usuario-row .valor {
    flex: 1;
    font-weight: normal;
}

.usuario-separator {
    border: none;
    border-top: 1px solid #ccc;
    margin: 16px 0;
}
/* FIN ESTILOS DE 'USUARIOS REGISTRADOS' */

.titulos #totalUsuariosRegistrados {
    float: right;
    margin-left: 10px;
  }



@media screen and (min-width: 320px) and (max-width: 900px) {

    .rectanguloInicio {
        height: 56px;
    }

    .rectanguloInicio h1 {
        font-size: 28px;
    }
}