body {
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    max-width: 1000px;
    /* Ajustamos el ancho máximo del contenedor */
    width: 90%;
    /* Ajustamos el ancho del contenedor para que sea responsivo */
    max-height: 80vh;
    /* Establecemos una altura máxima y permitimos el desplazamiento vertical */
    overflow-y: hidden;
    /* Agregamos un desplazamiento vertical cuando sea necesario */
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container:hover {
    overflow-y: auto;
    /* Muestra el scroll al pasar el mouse sobre el contenedor */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #2DAAA4;
}

input[type="text"],
input[type="number"] {
    padding: 4px;
    /* Espacio interno para el texto */
    border: 1px solid #CCC;
    /* Borde del input */
    border-radius: 4px;
    /* Bordes redondeados */
    width: 30%;
    /* Ancho completo */
    margin-bottom: 8px;
    /* Margen inferior */
    font-family: "Montserrat";
    /* Fuente */
    font-size: 14px;
    /* Tamaño de fuente */
    color: #333;
    /* Color del texto */
    background-color: #FFF;
    /* Color de fondo */
}

input[type="text"]:hover,
input[type="number"]:hover {
    border-color: #2DAAA4;
    /* Cambia el color del borde al hacer hover */
}

/* Estilo cuando el input está enfocado */
input[type="text"]:focus,
input[type="number"]:focus {
    outline: none;
    /* Quita el contorno alrededor del input */
    border-color: #2DAAA4;
    /* Cambia el color del borde cuando está enfocado */
}

select {
    padding: 10px;
    /* Espacio interno para el texto */
    border: 1px solid #ccc;
    /* Borde del select */
    border-radius: 5px;
    /* Bordes redondeados */
    width: calc(85% - 5px);
    /* Ancho completo */
    margin-bottom: 10px;
    /* Margen inferior */
    font-family: "Montserrat";
    /* Fuente */
    font-size: 14px;
    /* Tamaño de fuente */
    color: #333;
    /* Color del texto */
    background-color: #fff;
    /* Color de fondo */
}

select:hover {
    border-color: #2DAAA4;
    /* Cambia el color del borde al hacer hover */
}

select:focus {
    outline: none;
    /* Quita el contorno alrededor del select */
    border-color: #2DAAA4;
    /* Cambia el color del borde cuando está enfocado */
}

.question {
    margin-bottom: 20px;
    color: #2DAAA4;
}

.question label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    width: calc(85% - 5px);
    text-align: justify;
}

.options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    color: #333;
}

.options label {
    flex-basis: calc(80% - 5px);
    /* Ajustamos el ancho de las opciones */
    padding: 10px 20px;
    background-color: #F4F4F4;
    border-radius: 5px;
    cursor: pointer;
}

.options label:hover {
    background-color: #E0E0E0;
}

.btn-container {
    text-align: center;
}

.btn-next_prev {
    display: inline-block;
    margin: 20px 10px;
    padding: 10px 20px;
    background-color: #2DAAA4;
    font-family: "Montserrat";
    color: #FFF;
    font-weight: bold;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-next_prev:hover {
    background-color: #0056B3;
}

p {
    width: calc(85% - 5px);
    text-align: justify;
    margin: 0 auto 32px;
    font-weight: bold;
}

.anxiety-form,
#depression-form {
    margin-top: 56px;
}

.table-form table {
    width: 100%;
    border-collapse: collapse;
    margin: 48px auto;
}

.table-form th,
.table-form td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    text-align: center;
}

.table-form th {
    background-color: #f2f2f2;
}

.table-form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


/* Estilos para los resultados del BAI */
#resultadosBAI {
    display: none;
}

#resultadosBAI h1 {
    color: #2DAAA4;
}

#resultadosBAI p {
    color: #333;
}

#termometroBAI {
    width: 50px;
    height: 200px;
    background-color: #E0E0E0;
    border: 1px none #000;
    border-radius: 22px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

#termometroBAI .nivel {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: green;
    transition: height 2s ease-in-out;
}

#termometroBAI .nivel.naranja {
    background-color: orange;
}

#termometroBAI .nivel.rojo {
    background-color: red;
}

/* Estilos para los resultados del BDI */
#resultadosBDI {
    display: none;
}

#resultadosBDI h1 {
    color: #2DAAA4;
}

#resultadosBDI p {
    color: #333;
}

#termometroBDI {
    width: 50px;
    height: 200px;
    background-color: #E0E0E0;
    border: 1px none #000;
    border-radius: 22px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

#termometroBDI .nivel {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: green; /* Aquí estaba el problema */
    transition: height 2s ease-in-out;
}

#termometroBDI .nivel.naranja {
    background-color: orange;
}

#termometroBDI .nivel.rojo {
    background-color: red;
}

#termometroBDI .nivel.negro {
    background-color: black;
}