body {
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    max-width: 1000px; /* Ajustamos el ancho máximo del contenedor */
    width: 90%; /* Ajustamos el ancho del contenedor para que sea responsivo */
    max-height: 80vh; /* Establecemos una altura máxima y permitimos el desplazamiento vertical */
    overflow-y: hidden; /* Agregamos un desplazamiento vertical cuando sea necesario */
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container:hover {
    overflow-y: auto; /* Muestra el scroll al pasar el mouse sobre el contenedor */
}


h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #2DAAA4;
}


/* Estilos para el formulario de ansiedad */
#anxiety-form {
    margin-bottom: 20px;
}

#anxiety-form table {
    width: 100%;
    border-collapse: collapse;
}

#anxiety-form th, #anxiety-form td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    text-align: center;
}

#anxiety-form th {
    background-color: #f2f2f2;
}

#anxiety-form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#anxiety-form .btn-submit {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#anxiety-form .btn-submit:hover {
    background-color: #45a049;
}


p {
    width: calc(85% - 5px);
    text-align: justify;
}

input[type="text"] {
    padding: 10px; /* Espacio interno para el texto */
    border: 1px solid #ccc; /* Borde del input */
    border-radius: 5px; /* Bordes redondeados */
    width: 30%; /* Ancho completo */
    margin-bottom: 10px; /* Margen inferior */
    font-family: "Montserrat"; /* Fuente */
    font-size: 14px; /* Tamaño de fuente */
    color: #333; /* Color del texto */
    background-color: #fff; /* Color de fondo */
}

/* Estilo al hacer hover sobre el input */
input[type="text"]:hover {
    border-color: #2DAAA4; /* Cambia el color del borde al hacer hover */
}

/* Estilo cuando el input está enfocado */
input[type="text"]:focus {
    outline: none; /* Quita el contorno alrededor del input */
    border-color: #2DAAA4; /* Cambia el color del borde cuando está enfocado */
}

select {
    padding: 10px; /* Espacio interno para el texto */
    border: 1px solid #ccc; /* Borde del select */
    border-radius: 5px; /* Bordes redondeados */
    width: calc(85% - 5px); /* Ancho completo */
    margin-bottom: 10px; /* Margen inferior */
    font-family: "Montserrat"; /* Fuente */
    font-size: 14px; /* Tamaño de fuente */
    color: #333; /* Color del texto */
    background-color: #fff; /* Color de fondo */
}

/* Estilo al hacer hover sobre el select */
select:hover {
    border-color: #2DAAA4; /* Cambia el color del borde al hacer hover */
}

/* Estilo cuando el select está enfocado */
select:focus {
    outline: none; /* Quita el contorno alrededor del select */
    border-color: #2DAAA4; /* Cambia el color del borde cuando está enfocado */
}


.question {
    margin-bottom: 20px;
    color: #2DAAA4;
}

.question label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    color: #333;
}

.options label {
    flex-basis: calc(80% - 5px); /* Ajustamos el ancho de las opciones */
    padding: 10px 20px;
    background-color: #F4F4F4;
    border-radius: 5px;
    cursor: pointer;
}

.options label:hover {
    background-color: #e0e0e0;
}

.btn-submit {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: #2DAAA4;
    font-family: "Montserrat";
    color: #FFF;
    font-weight: bold;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #0056b3;
}

h2{
    color: #2DAAA4;
}


/*ESTRES*/
#stress-form {
    margin-bottom: 20px;
}

#stress-form table {
    width: 100%;
    border-collapse: collapse;
}

#stress-form th, #stress-form td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    text-align: center;
}

#stress-form th {
    background-color: #f2f2f2;
}

#stress-form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#stress-form .btn-submit {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#stress-form .btn-submit:hover {
    background-color: #45a049;
}

/* Estilos para el formulario de riesgo suicida */
#suicide-risk-form {
    margin-bottom: 20px;
}

#suicide-risk-form .question {
    margin-bottom: 10px;
    color: #2DAAA4;
}

#suicide-risk-form .question p {
    margin-bottom: 5px;
}

#suicide-risk-form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

#suicide-risk-form label input[type="radio"] {
    margin-right: 10px;
}

#suicide-risk-form .btn-submit {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #2DAAA4;
    font-family: "Montserrat";
    color: #FFF;
    font-weight: bold;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#suicide-risk-form .btn-submit:hover {
    background-color: #0056b3;
}



/*WHO 5*/
#who5-form {
    margin-bottom: 20px;
}

#who5-form table {
    width: 100%;
    border-collapse: collapse;
}

#who5-form th, #who5-form td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    text-align: center;
}

#who5-form th {
    background-color: #f2f2f2;
}

#who5-form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#who5-form .btn-submit {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#who5-form .btn-submit:hover {
    background-color: #45a049;
}

/*sleepQuality*/
#sleepQuality-form {
    margin-bottom: 20px;
}

#sleepQuality-form table {
    width: 100%;
    border-collapse: collapse;
}

#sleepQuality-form th, #sleepQuality-form td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    text-align: center;
}

#sleepQuality-form th {
    background-color: #f2f2f2;
}

#sleepQuality-form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#sleepQuality-form .btn-submit {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#sleepQuality-form .btn-submit:hover {
    background-color: #45a049;
}